$orangeColor: #E54817;
$blueColor: #19818E;

.contact {
 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: -2;

    h1 {
        text-align: center;
        margin-top: 20px;
        color: $blueColor;
    }
    img {
        width: 20%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px 50px;
    text-align: center;
    width: 50%;
}

.request-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 20px;

    .input-box {
        display: flex;
        margin: 0 auto;
        width: 100%;
    }

    h2 {
        text-align: center;
        width: 100%;
        color: $blueColor;
    }

    label {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    input {
        width: 100%;
        height: 50px;
        font-size: 20px;
        padding-left: 20px;
    }

    textarea {
        margin-bottom: 20px;
        // margin-right: 20px;
        // margin-left: 20px;
        height: 80px; 
        font-size: 20px;
        padding: 5px 20px;
        width: 100%;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }

    .special {
        width: 50%;
    }

    button {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

}

@media (max-width: 1000px) {
    .contact {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
        h2 {
            text-align: center;
            margin-top: 5px;
            font-size: 20px;
        }
    }
    
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 10px;
        text-align: center;
        width: 75%;
    }
    
}

@media (max-width: 805px) {
    .contact {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
        h2 {
            text-align: center;
            font-size: 18px;
        }

        .request-info {

            .inputs {
                label {
                    font-size: 18px;
                }
            }
            .input-box {
             input textarea {
                font-size: 18px;
            }
        }
        }
    }
}

@media (max-width: 605px) {

    .contact {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
        h2 {
            text-align: center;
            font-size: 16px;
        }
        label {
            font-size: 18px;
        }
        input {
            font-size: 16px;
        }
        textarea {
            height: 140px;
            font-size: 16px;
        }
    }
}

