$orangeColor: #E54817;
$blueColor: #19818E;


.landing {
    margin: 20px auto;
    position: relative;
    z-index: -2;
    // background: linear-gradient(white, lighten($color: $blueColor, $amount: 50), white);
    .focal {
        text-align: center;
        margin-bottom: 20px;
        font-style: italic;
    }
}



@media (max-width: 450px) {
    
}